body {
  padding: 20px;
}

.container {

  padding: auto;
}


.line {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}

.prop {
  color: #0326d1; 
}

.val {
  color: #17a033; 
}

.brace {
  color:black;
}
